.privacy-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.privacy-text10 {
  display: inline-block;
}
 
.privacy-text11 {
  display: inline-block;
}
 
.privacy-text12 {
  display: inline-block;
}
 
.privacy-text13 {
  display: inline-block;
}
 
.privacy-text14 {
  display: inline-block;
}
 
.privacy-text15 {
  display: inline-block;
}
 
.privacy-text16 {
  display: inline-block;
}
 
.privacy-text17 {
  display: inline-block;
}
 
.privacy-text18 {
  display: inline-block;
}
 
.privacy-text19 {
  display: inline-block;
}
 
.privacy-text20 {
  display: inline-block;
}
 
.privacy-text21 {
  display: inline-block;
}
 
.privacy-text22 {
  display: inline-block;
}
 
.privacy-text23 {
  display: inline-block;
}
 
.privacy-text24 {
  display: inline-block;
}
 
.privacy-text25 {
  display: inline-block;
}
 
.privacy-text26 {
  display: inline-block;
}
 
.privacy-text27 {
  display: inline-block;
}
 
.privacy-text28 {
  display: inline-block;
}
 
.privacy-text29 {
  display: inline-block;
}
 
.privacy-text30 {
  display: inline-block;
}
 
.privacy-text31 {
  display: inline-block;
}
 
.privacy-text32 {
  display: inline-block;
}
 
.privacy-text33 {
  display: inline-block;
}
 
.privacy-text34 {
  display: inline-block;
}
 
.privacy-text35 {
  display: inline-block;
}
 
.privacy-text36 {
  display: inline-block;
}
 
.privacy-text37 {
  display: inline-block;
}
