.terms-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.terms-navlink1 {
  display: contents;
}
 
.terms-component1 {
  text-decoration: none;
}
 
.terms-text10 {
  display: inline-block;
}
 
.terms-text11 {
  display: inline-block;
}
 
.terms-text12 {
  display: inline-block;
}
 
.terms-text13 {
  display: inline-block;
}
 
.terms-text14 {
  display: inline-block;
}
 
.terms-text15 {
  display: inline-block;
}
 
.terms-text16 {
  display: inline-block;
}
 
.terms-text17 {
  display: inline-block;
}
 
.terms-text18 {
  display: inline-block;
}
 
.terms-text19 {
  display: inline-block;
}
 
.terms-text20 {
  display: inline-block;
}
 
.terms-text21 {
  display: inline-block;
}
 
.terms-text22 {
  display: inline-block;
}
 
.terms-text23 {
  display: inline-block;
}
 
.terms-navlink2 {
  display: contents;
}
 
.terms-component2 {
  text-decoration: none;
}
 
.terms-text24 {
  display: inline-block;
}
 
.terms-text25 {
  display: inline-block;
}
 
.terms-text26 {
  display: inline-block;
}
 
.terms-text27 {
  display: inline-block;
}
 
.terms-text28 {
  display: inline-block;
}
 
.terms-text29 {
  display: inline-block;
}
 
.terms-text30 {
  display: inline-block;
}
 
.terms-text31 {
  display: inline-block;
}
 
.terms-text32 {
  display: inline-block;
}
 
.terms-text33 {
  display: inline-block;
}
 
.terms-text34 {
  display: inline-block;
}
 
.terms-text35 {
  display: inline-block;
}
