.contact8-container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact8-max-width {
  align-self: center;
}
 
.contact8-content1 {
  width: 100%;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: center;
}
 
.contact8-content2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact8-content3 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
 
.contact8-container2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact8-text12 {
  text-align: center;
}
 
.contact8-text13 {
  align-self: center;
  text-align: center;
}
 
.contact8-container3 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact8-container4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact8-text14 {
  text-align: center;
}
 
.contact8-text15 {
  text-align: center;
}
 
.contact8-container5 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.contact8-text16 {
  display: inline-block;
}
 
.contact8-text17 {
  display: inline-block;
}
 
.contact8-text18 {
  display: inline-block;
}
 
.contact8-text19 {
  display: inline-block;
}
 
.contact8-text20 {
  display: inline-block;
}
 
.contact8-text21 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact8-content1 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .contact8-content3 {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .contact8-content1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .contact8-text10 {
    text-align: center;
  }
  .contact8-text11 {
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .contact8-content3 {
    gap: var(--dl-layout-space-threeunits);
  }
}
